name: Automation Pipe

on:
  push:
    branches: [ master, main ]
  pull_request:

jobs:
  api-tests:
    name: API Tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
      checks: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Run API tests
        working-directory: api-tests
        run: mvn clean test

      - name: Load Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: api-tests/target/allure-results
          allure_report: allure-report
          allure_history: allure-history

      - name: Upload API report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-allure-report
          path: allure-report

  e2e-tests:
    name: E2E Tests (Cucumber + Selenium)
    needs: api-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Run E2E tests
        working-directory: e2e-tests
        run: mvn clean test -DchromeHeadless=true

      - name: Upload E2E report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: e2e-tests-report
          path: e2e-tests/target/cucumber-report.html